
body div div{
 /*border: 1px solid black;*/
 position: absolute;
 font-family: 'Open Sans', sans-serif;
}

#button {
  position: relative;
  top: px;
  /*width: 100px;
  height: 100px;*/
}
.well {
 height: 600px;
 width: 400px;
}
.jumbotron {
 height: 800px;
 background: url("") no-repeat center center fixed;
 background-size: cover;
}

#App {
 position: relative;
 width: 100%;
 height: 100%;
}

#LoginBox {
 width: 400px;
 height: 400px;
 top: 91px;
 left: 248px;
}

.Radiobtn {
  font-size: 15px;
  margin-top: 10px;
  position: relative;
  color: red;
}

.Submit {
  position: relative;
  /*margin-top: 15px;*/
  top: 300px;
}
